/* Dashbord sidenav css  */


/* .userDashbord_sidenav-card {
    border: none;
    max-width: 320px;
    min-height: 780px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: rgba(255, 255, 255, 1);
    padding: 0;
    padding-top: 30px;
} */


/* .profilepic img {
    width: 128px;
    height: 128px;
    -o-object-fit: cover;
    object-fit: cover;
} */


/* .profile-info h5 i {
    color: #21a98c;
    margin-left: 4px;
} */


/* #sidenavbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 0;
    padding-top: 40px;
} */


/* #sidenavbar ul {
    padding: 0;
} */


/* #sidenavbar ul li {
    width: 100%;
    background-color: #e5e7eb;
    margin: 12px 0;
    padding: 8px 0;
    padding-left: 12px;
    border-left: 4px solid #000000;
} */


/* #sidenavbar ul li>a i {
    margin-right: 10px;
} */


/* user dashbord css */


/* .userDashbord_container {
    width: 800px;
    min-width: 624px;
    margin-left: 15px;
} */


/* .user-dashboard {
    padding: 10px 20px;
} */


/* .d-card {
    padding: 40px 20px;
    background: #fff;
    box-shadow: 0 0 29px 0 rgb(68 88 144 / 12%);
    border: none;
} */


/* .total-balance ul {
    padding: 0;
} */


/* .total-balance ul li {
    display: flex;
} */


/* .total-balance ul li i {
    margin-right: 8px;
} */