/* Home Banner css  */

#banner {
    /* background-image: url("../../assets/banner.jpg");
    padding: 100px 0;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center; */
}